h1,
h2,
h3
	font-family: 'Bitter', serif;
	font-weight 700
  
body 
	font-family 'Raleway', sans-serif
	line-height 1.5em
	font-size: 16px
	height 100%

header 
	width 100%
	background #F2D4C4
	display flex
	justify-content space-between

.header__title
	margin-right 190px

		
.header__menu
	margin-left 15px
	margin-top 20px
	font-size 26px

nav
	width 200px
	left -200px
	background #F2D4C4	
	height 90%
	transition all 0.25s ease-in
	position absolute
	z-index 999999

.nav__items
	list-style none
	margin-top 10px


.nav--active
	left: 0
	
.menu-toggle
	cursor pointer
	
#map 
	min-height 350px
	width 100%