template(name="chat")
	p Your chat with #{name}
	+messages
	+input

template(name="messages")
	each messages
		p #{name} #{messages}

template(name="input")
	input(type="text" id="message")



	